In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

# question1

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\admin\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
df=pd.read_excel(r'C:\Users\Admin\Downloads\iris.xls')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
df.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  NaN  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [6]:
df.shape

(150, 5)

In [7]:
df['Classification'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Classification, dtype: int64

# question2

In [8]:
##checking missing values
df.isna().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [9]:
##filling missing values
for i in['SL','SW','PL']:
    df[i]=df[i].fillna(df[i].median())

In [10]:
df.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  5.8  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [13]:
#split the dataset into features(x) and targetvariable(y)
x=df.drop(['Classification'],axis=1)
y=df['Classification']

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
from sklearn.preprocessing import StandardScaler

In [15]:
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

# question3

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [22]:
classifiers=[
    ('Logistic Regression',LogisticRegression()),
    ('Decision Tree',DecisionTreeClassifier()),
    ('Support Vector Machine',SVC()),
    ('Random Forest',RandomForestClassifier())
]

In [23]:
results = {}

for name, classifier in classifiers:
    classifier.fit(x_train_scaled, y_train)
    y_pred = classifier.predict(x_test_scaled)
    accuracy = accuracy_score(y_test, y_pred)
    results[name]=accuracy
for name, accuracy in results.items():
    print(f'{name}:{accuracy}')

Logistic Regression:0.9666666666666667
Decision Tree:1.0
Support Vector Machine:0.9666666666666667
Random Forest:1.0